$color-primary: #F06C4E;
$color-primary-light: #FEF0ED;
$color-secondary: #60A97E;
$color-secondary-light: #E1ECE5;
$color-black: #1f1f1f;
$color-black-light: #6b6b6b;
$color-grey: #F8F7F5;
$color-grey-dark: #cfcfcf;
$color-white: #fff;

$color-border: #e6e6e6;


$color-error: #FF5555;

$grid-width: 90vw;
$gutter-vertical: 2rem;
$gutter-vertical-sm: 1rem;
$gutter-horizontal: 1rem;
$gutter-horizontal-sm: 1rem;

.margin-bottom-xl {margin-bottom: 5rem;}
.margin-bottom-lg {margin-bottom: 3rem;}
.margin-bottom-md {margin-bottom: 1.2rem;}
.margin-bottom-sm {margin-bottom: 0.5rem;}

.margin-top-xl {margin-top: 6rem;}
.margin-top-lg {margin-top: 3rem;}
.margin-top-md {margin-top: 1.2rem;}
.margin-top-sm {margin-top: 0.5rem;}