.navbar__container {
    border-bottom: 1px solid $color-border;
    .navbar__nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100px;
        .navbar__left {

            .navbar__menu-items {
                display: flex;

                .navbar__menu-item {
                    list-style-type: none;

                    &:not(:last-child){
                        margin-right: 3rem;
                    }

                    a, a:visited, a:active {
                        font-size: 1.1rem;
                        font-weight: 500;
                        text-decoration: none;
                        color: $color-black;
                    }
                }

                
            }
        }

        .navbar__right {
            display: flex;
            align-items: center;

            .avatar {
                width: 50px;
                height: 50px;
                margin-right: 1rem;
                
                img {
                    width: 100%;
                    border-radius: 100px;
                }
            }

            .navbar__username {
                margin-right: 2rem;
            }
        }
    }
}

.active__nav {
    font-weight: bold;
    color: $color-primary !important;     
}