.authpage__container {
    display: flex;
    height: 100vh;
    .auth__leftbar {
        width: 50%;
        padding: 4rem 8rem;
    }

    .auth__rightbar {
        width: 50%;
        background-color: $color-primary;
    }
}